@import "tailwindcss";
@import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";

:root {
  --background: #fdfcfb;
  --foreground: #1c1c1c;
  --muted: rgba(28, 28, 28, 0.3);
}

@theme inline {
  --font-sans:
    "Pretendard Variable", var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c; /* 다크모드 대응 필요시 조정 */
    --foreground: #fdfcfb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
